body{
  background:white;
  margin: 0;
  padding: 0;
  color:black;
  font-family: helvetica, arial; 
  
}

.ng-enter {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

.user_active
{
  width: 20px;
	height: 20px;
	background: green;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.user_deactive{
  width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.red_divider {
 height: 3px;
    width: 100%;
    display: block;
    margin: 0px 0;
    overflow: hidden;
    background-color: red;
}

.red_vertical_divider{
    position:absolute;
    left:223px;
    top:9%;
    bottom:0%;
    border-left:4px solid red;
}

.custom-select-width300{
  width: 300px;

}
.hide-errors{
  color:black;
}