<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Pilot Types</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					List Of Pilot Types

					<div class="input-group pull-right">
						<div class="form-group">
							<label class="col-lg-8 control-label">Item Per Page(1-100)</label>
							<div class="col-lg-4">
								<input name="limit" class="input-sm form-control pull-right ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"
									min="1" max="100" value="5" step="1" type="number" ng-model-options="{ debounce: 1000 }" ng-model="query.limit">
							</div>
						</div>
					</div>

				</div>
				<div class="panel-body">
					<table class="table table-hover table-striped table-condensed table-responsive">
						<thead>
							<tr>
								<th>S.No.</th>
								<th>Pilot Type Name</th>
								<th>Actions</th>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<th><input type="text" class="form-control" style="width:120px" placeholder="Pilot" /></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pilotType in pilotTypes">
								<td>{{$index+1}}</td>
								<td>{{pilotType.name}}</td>
								<td>
									<a class="btn btn-xs btn-warning fa fa-edit" ng-click="selectPilotType(pilotType)" title="Edit"> </a>
									<a class="btn btn-xs btn-danger fa fa-remove" ng-click="removePilotType(pilotType)" confirm="Are you sure to delete pilot type '{{pilotType.name}}' !!!"
										confirm-settings="{size: 'md'}" confirm-header-class="confirm-header-danger " confirm-footer-class="confirm-footer-default"
										confirm-ok-button-class="btn-danger" confirm-cancel-button-class="btn-default" confirm-title="Confirm Deletion!!"
										confirm-ok="Yes" confirm-cancel="No" title="Remove"> </a>
								</td>
							</tr>
						</tbody>
						<tbody ng-show="true">
							<tr>
								<td colspan="3" class="text-center"><i class="fa fa-spinner fa-2x fa-pulse"> </i> Loading Pilot Types...</td>
							</tr>
						</tbody>

						<tfoot>
							<tr>
								<td colspan="3" class="text-center">
								<!--	<div st-items-by-page="itemsPerPage" st-pagination="" st-template="scripts/directives/pagination/pagination.custom.html"></div> !-->
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<pilot-type-form pilottypedetails="selectedPilotType"></pilot-type-form>
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>

</div>